---
import Layout from '../layouts/Layout.astro';
import Divider from '../components/Divider.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="divider-container">
			<Divider divider='divider1' segment='segment1'/>
		</div>
		<Divider divider='divider2' segment='segment2'/>
		<Projects/>
	</main>
</Layout>

<style>
	body{
		background-color: whitesmoke;
		height: 100vh;
		margin: 0;
	}

	.divider-container{
		background-color: #bababa;
		height: 100%;
		width: 100%;
	}
</style>
