---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import IndexBanner from '../components/IndexBanner.astro';
import Divider from '../components/Divider.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<IndexBanner/>
		<Divider/>
	</main>
</Layout>

<style>
	body{
		background-color: rgba(25, 25, 25, 0.9);
		height: 100vh;
		margin: 0;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		color: white;
	}
</style>
