---
import Layout from '../layouts/Layout.astro';
import Divider from '../components/Divider.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Divider divider='divider1' segment='segment1'/>
		<Divider divider='divider2' segment='segment2'/>
	</main>
</Layout>

<style>
	body{
		background-color: rgb(40, 40, 40);
		height: 100vh;
		margin: 0;
	}
</style>
