---
import StackCarrousel from "./StackCarrousel.astro";
---

<div class="techstack-container">
    <h1 class="techstack-title">Technology Stack</h1>
    <StackCarrousel/>
</div>


<style>
	.techstack-container{
        width: 100%;
        text-align: center
    }

    .techstack-title{
        color: #F5F5F5;
    }

    .techstack-grid{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 15px;
        padding-top: 20px;
    }
</style>