---
import StackCarrousel from "./StackCarrousel.astro";
import titleImg from "../assets/techStackTitle.png"
---

<div class="techstack-container">
    <div class="techstack-title">
        <img src={titleImg} alt="techStackTitle" width="400px"/>
    </div>
    <StackCarrousel/>
</div>


<style>
	.techstack-container{
        width: 100%;
        text-align: center;
    }

    .techstack-title{
        padding-top: 15px;
        width: 100%;
    }

    .techstack-grid{
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 15px;
        padding-top: 20px;
    }
</style>